Source: properties-cpp
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: cmake,
               debhelper (>= 9),
               doxygen,
               google-mock,
               graphviz,
               libgtest-dev,
               lcov,
Standards-Version: 3.9.4
Section: libs
Homepage: https://launchpad.net/properties-cpp
# If you aren't a member of ~phablet-team but need to upload packaging changes,
# just go ahead. ~phablet-team will notice and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~phablet-team/properties-cpp/trunk
Vcs-Browser: https://bazaar.launchpad.net/~phablet-team/properties-cpp/trunk/files

Package: libproperties-cpp-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Recommends: libproperties-cpp-doc
Depends: ${misc:Depends},
Description: C++11 library providing properties/signals. - dev headers
 Properties-cpp is a C++11 library providing properties/signals.
 .
 This package includes all the development headers and libraries for 
 properties-cpp.

Package: libproperties-cpp-doc
Section: doc
Architecture: all
Depends: ${misc:Depends},
Description: Documentation files for libproperties-cpp-dev
 Properties-cpp is a C++11 library providing properties/signals.
 .
 This package includes the documentation files for the libproperties-cpp 
 development.
